<div class="jumbotron jumbotron-small">
  <div class="container">
    	{{#link-to 'account' classNames='btn btn-primary' tagName='button' }}Back to exams{{/link-to}}
    	{{#link-to 'account' classNames='btn btn-primary pull-right' tagName='button' }}To question view{{/link-to}}
  </div>
</div>

<div class="container">

	<div class="table-responsive">
		<table class="table table-striped">
		    <thead>
		      <tr>
            <th class="col-md-1">Index</th>
		        <th class="col-md-6">Question</th>
            {{#if isCompleted}}
		        <th class="col-md-2 text-center">Result</th>
            {{/if}}
		        <th class="col-md-2"></th>
		      </tr>
		    </thead>
		    <tbody>
		     {{#each question in questions}}
		      <tr>
            <th>{{question.questionIndex}}</th>
		        <td>{{question.question}}</td>

            {{#if isCompleted}}
		        <td class="text-center">{{#if question.isCorrect}}
                    <span class="btn btn-success">Right</span>
                {{else}}
                    <span class="btn btn-danger">Wrong</span>
                {{/if}}
            </td>
            {{/if}}
		        <td class="text-center">
            {{#link-to 'question' question class="btn btn-primary btn-xs"}}
              {{#if isCompleted}}
                Review Question
              {{else}}
                Go To Question
              {{/if}}
            {{/link-to}}
            </td>
		      </tr>
		    {{/each}}
		    {{#if isLoading}}
		      <tr>
		        <td>Loading <img src="assets/images/ajaxloadingblack.gif"></td>
		        <td></td>
            {{#if isCompleted}}
            <td></td>
            {{/if}}
		        <td></td>
		      </tr>
		    {{/if}}
		    </tbody>
	    </table>
    </div>
</div>