<div class="jumbotron">
	<div class="container">
		<h2>Welcome to The Salesforce Certification App :)!</h2>
		<p>Log from the nav bar or get access by clicking the button bellow</p>
		<p>{{#link-to 'register' classNames='btn btn-primary btn-lg' tagName='button' }}Get Access{{/link-to}}</p>
	</div>
</div>
<div class="container">

</div> 
