

<div class="jumbotron">
	<div class="container">
		<h2>Welcome to The Salesforce Certification App :)!</h2>
		<form {{action "login" on="submit"}}>
      {{input type="text" value=username}}
      {{input type="password" value=password}}
      <button type="submit">Login</button>
</form>
	</div>
</div>
<div class="container">

</div> 