<div class="jumbotron">
  <div class="container">
    <h2>Register!</h2>
    <p>please provide your email</p>
    <div class="form-group">
      <form class="form-inline" role="form"><div class="input-group">
        <div class="input-group-addon">@</div>
        <input class="form-control" type="email" placeholder="Enter email">
      </div>
    </div>
    <p><a type="submit" class="btn btn-primary btn-lg" role="button">Register »</a></p>
  </form>
</div>
</div>
<div class="container">
</div>