<div class="jumbotron">
  <div class="container">
    <h2>Settings {{ controllers.application.firstName }} !</h2>
    <p>You can an Exam Now</p>
    <p><a {{action 'showModal' 'newexam-modal'}} class="btn btn-primary" role="button">New Exam »</a></p>
  </div>
</div>